<div class="card" *ngIf="todo_list" [ngClass]="todo_list.category">
  <div class="row">
    <h5 class="card-title ml-4">{{todo_list.name}}</h5>
    <button *ngIf="todo_list.showOptions" class="btn ml-4 mt-2" mat-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteList(todo_list)"><i class="far fa-trash-alt mx-2"></i>Delete</button>
      <button mat-menu-item (click)="editList(todo_list.id)"><i class="far fa-edit mx-2"></i>Edit</button>
    </mat-menu>
  </div>
  <div class="card-body">
    <app-todo-item *ngFor="let item of todo_list.items" [todo_item]="item" (deleteItemEvent)="deleteItem($event)" (editItemEvent)="editItem($event)"></app-todo-item>
    <div *ngIf="todo_list.showOptions" class="text-center">
      <button class="btn" mat-button (click)="addItem(todo_list.id)"><i class="far fa-plus-square"></i></button>
    </div>
  </div>
</div>