<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <!-- <button class="btn btn-secondary text-center col-3 mx-md-5">Toggle done</button> -->
      <h1 class="col-6 text-right">ToDo</h1>
      <button mat-button [matMenuTriggerFor]="menu" class="btn col-6 my-auto"><i class="fas fa-ellipsis-h"></i></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Add List</button>
        <button mat-menu-item>Toggle done</button>
      </mat-menu>
      <!-- <button class="btn btn-secondary text-center col-3 ml-md-5">Add List</button> -->
    </div>
  </div>
</div>