@import "../../styles.scss";
.jumbotron-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(6, 123, 194, 1);
  .container {
    height: 50px;
    padding: 0;
    h1{
      margin-bottom: 0;
      color: #fff;
    }
    .btn {
      min-height: 50px;
      max-width: 100px;
    }

  }
}