@import "../../styles.scss";

.normal-item {
  background-color: #fff;
}

.important-item {
  background-color: rgba($color: red, $alpha: 0.5);
  color: white;
  i {
    color: white;
  }
}

.finished-item {
  background-color: rgba($color: green, $alpha: 0.5);
  color: white;
  i {
    color: white;
  }
}

.deadlineApproaching{
  font-style: italic;
  // font-weight: bold;
}

.btn {
    padding: 0;
    height: 25px;
  }

  .btn-outline-primary {
    max-width: 40px;
  }