@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

$font-family-sans-serif: 'Gemunu Libre', sans-serif;

$blue-custom: rgba(6, 123, 194, 0.5);
$red-custom: rgba(184, 51, 106, 0.5);
$grey-custom: rgba(188, 193, 186, 1) ;
$purple-custom: rgba(196, 144, 209, 1);
$orange-custom: rgba(206, 129, 71, 0.5);
$green-custom: rgba(75, 127, 82, 0.6);
